<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<Appenders>
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}]-%-5level %logger Line:%-3L - %msg%n" />
		</console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="INFO" />
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>

</configuration>